<% if (messages && messages.length > 0) { %>
<div class="container mt-3">
	<div class="alert alert-success alert-dismissible fade show" role="alert">
		<% messages.forEach(function(message) { %>
		<div><%= message %></div>
		<% }); %>
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
</div>
<% } %> <% if (typeof errors !== 'undefined' && errors && errors.length > 0) {
%>
<div class="container mt-3">
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		<% errors.forEach(function(error) { %>
		<div><%= error %></div>
		<% }); %>
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
	</div>
</div>
<% } %>
